<div class="row">
	<div class="col-xs-12">
		<h2 class="mainContentHeader">Welcome to Shuffli.</h2>
		<p class="mainContentSubtitle">Shuffli easily connects your content creators with your team's social media curators.</p>
	</div>
	<div class="col-xs-12">
		<hr />
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
				<input class="form-control" type="text" placeholder="Email Address">
			</div>
		</div>
		<div class="col-md-6">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
				<input class="form-control" type="password" placeholder="Password">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<button type="submit" class="btn btn-warning btn-lg pull-right" ng-click="accountSetup()"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up</button>
		</div>
	</div>
</div>
