<div class="row">
	<div class="col-xs-12">
		<h2 class="mainContentHeader">Welcome to Shuffli.</h2>
		<p class="mainContentSubtitle">Shuffli easily connects your content creators with your team's social media curators.</p>
	</div>
	<div class="col-xs-12">
		<hr />
	</div>
</div>
<div class="row">
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label for="exampleInputEmail1">Email address</label>
				<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
				<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="exampleInputPassword1">Password</label>
				<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<button type="submit" class="btn btn-primary pull-right">Submit</button>
		</div>
	</div>
</div>
