<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-animate="'animate'">
	<div class="postBox">
		<img data-ng-src="{{post.imageURL}}" class="postImage" />
		<div>

			<p class="postExpiry"><i class="fa fa-times" aria-hidden="true"></i> Expires in {{post.daysLeft}} days</p>
		</div>
		<hr />
		<p class="postDesc">
			{{post.description}} <br /><br /><span class="label label-primary">{{post.category}}</span>
		</p>
		<hr />
		<div class="postCreatorDetails">
			<div class="row postCreatorRow">
				<div class="col-xs-3 postCreatorImage">
					<div class="user pull-right" style="background-image:url('images/creators/{{post.creatorImageURL}}')">
					</div>
				</div>
				<div class="col-xs-7 postCreator">
					<p class="postCreatorName">{{post.creatorName}}</p>
					<p>{{post.creator}}</p>
				</div>
			</div>
        </div>
		<hr />
		<div class="row postOptions">
			<div class="col-xs-12 postUndo" data-ng-click="unarchivePostButton(post)">
				<i class="fa fa-undo" data-toggle="tooltip" title="Archive" aria-hidden="true"></i>
			</div>
		</div>
	</div>
</div>
