body,
html {
	height: 100%;
	background-repeat: no-repeat;
	background-color: white;
	/*
	background-image: -webkit-linear-gradient(white, darkorange);
	background-image: -o-linear-gradient(white, darkorange);
	background-image: linear-gradient(white, darkorange);
	*/
}

.card-container.card {
	max-width: 350px;
	padding: 40px 40px;
	border-radius: 15px;
}

#topleftlogo {
	width: 100%;
}

#headerLogo {
	width: 100%;
}

i.fa-pinterest {
	color: red;
}

i.fa-facebook {
	color: rgb(31, 104, 241);
}

p.medium {
	font-size: 1.25em;
}

label {
	color: #fc6057;
}

.formLabel {
	font-size: 1.5em;
}


/* centered columns styles */

.row-centered {
	text-align: center;
}

.col-centered {
	display: inline-block;
	float: none;
	/* reset the text-align */
	text-align: left;
	/* inline-block space fix */
	margin-right: -4px;
}

hr {
	background-color: darkgrey;
	margin-top: 0px;
	margin-bottom: 0px;
}

.mainContent {
	background-color: rgb(248, 248, 248);
	border: 1px solid #e7e7e7;
	border-radius: 4px;
}

.mainContentHeader {
	text-align: center;
	color: #fc6057;
	font-weight: bold;
}

.mainContentSubtitle {
	text-align: center;
	color: darkorange;
	font-weight: 300;
	font-size: 1.25em;
}

.headerIcon {
	margin: 2px;
}

hr.header {
	width: 75%;
	color: darkgrey;
}

.postBox {
	background-color: white;
	border-radius: 5px;
	margin-bottom: 15px;
	margin-top: : 15px;
	border: 1px solid #e7e7e7;
}

.publisherBox {
	background-color: transparent;
	margin-bottom: 15px;
	margin-top: 15px;
}

.postImage {
	width: 100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: 1px solid #e7e7e7;
}

.postImageApprove {
	width: 100%;
	border-radius: 5px;
}

.approveContainer {
	padding-left: 0px;
	padding-right: 0px;
}

.postCreator {
	padding-right: 0px;
}

.postCreatorImage {
	padding-right: 0px;
}

.postDesc {
	padding: 1em;
}

.postDeny,
.postApprove {
	font-size: 2em;
	cursor: pointer;
}

.row .postOptions {
	padding-top: 0px;
	padding-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	text-align: center;
}

.postDeny {
	color: lightslategrey;
}

.postDeny,
.postApprove {
	padding-top: 5px;
	padding-bottom: 5px;
}

.postDeny:hover,
.postApprove:hover {
	background-color: rgba(211, 211, 211, 0.32);
}

.postApprove {
	color: lightgreen;
}

p.postCreatorName {
	color: darkgrey;
	margin-bottom: 1px;
	font-style: bold;
}

p.postCreatorNameApprove {
	font-size: 1.5em;
}

p.postCreatorApprove {
	font-size: 2em;
	color: #fc6057;
}

.row {
	padding-top: 1em;
	padding-bottom: 1em;
	margin-left: 0px;
	margin-right: 0px;
}

#searchBox {
	border: 0px solid;
	background-color: transparent;
	outline: none;
	vertical-align: sub;
}

#searchBox:focus {
	border-bottom: 1px solid;
}

.user {
	display: inline-block;
	width: 3em;
	height: 3em;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	margin-left: 5px;
}

.userApprove {
	width: 5em;
	height: 5em;
}

.publisherThumbImage {
	width: 10em;
	height: 10em;
	margin: auto;
	display: block;
}

.publisherThumbName {
	text-align: center;
	font-size: 1.25em;
	color: rgba(0, 0, 0, 0.64);
}

.one {
	background-image: url('http://placehold.it/350x150');
}


/*
 * Card component
 */

.card {
	background-color: #F7F7F7;
	/* just in case there no content*/
	padding: 20px 25px 30px;
	margin: 0 auto 25px;
	margin-top: 50px;
	/* shadows and rounded borders */
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
	height: 100px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}


/*
 * Form styles
 */

.profile-name-card {
	font-size: 16px;
	text-align: center;
	margin: 10px 0 0;
	min-height: 1em;
}

.reauth-email {
	display: block;
	color: #404040;
	line-height: 2;
	margin-bottom: 10px;
	font-size: 14px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
	direction: ltr;
	height: 44px;
	font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
	width: 100%;
	display: block;
	margin-bottom: 10px;
	z-index: 1;
	position: relative;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.form-signin .form-control:focus {
	border-color: rgb(104, 145, 162);
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(104, 145, 162);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(104, 145, 162);
}

.forgot-password {
	color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus {
	color: rgb(12, 97, 33);
}


/* CSS for Credit Card Payment form */

.credit-card-box .panel-title {
	display: inline;
	font-weight: bold;
}

.credit-card-box .form-control.error {
	border-color: red;
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.credit-card-box label.error {
	font-weight: bold;
	color: red;
	padding: 2px 8px;
	margin-top: 2px;
}

.credit-card-box .payment-errors {
	font-weight: bold;
	color: red;
	padding: 2px 8px;
	margin-top: 2px;
}

.credit-card-box label {
	display: block;
}


/* The old "center div vertically" hack */

.credit-card-box .display-table {
	display: table;
}

.credit-card-box .display-tr {
	display: table-row;
}

.credit-card-box .display-td {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}


/* Just looks nicer */

.credit-card-box .panel-heading img {
	min-width: 180px;
}
